*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productlist{
  width: 90vw;  
}
.Item{
   width: 28rem;
   height: 16rem;
   box-shadow: 2px 2px 5px grey;
}
.content{
    width: 14.5rem;
    height: 14rem;
}
.itemImage{
    width:10rem ;
    height:10rem;
}


