*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font: 62.5%;
}
.horizontal-scroll{
  position: absolute;
  width: 80rem;
  height: 7rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  left: 15%;
  top: 15%;
}
.eachCategory{
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
}

