*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /* font-size: 62.5%; */
    /* font: 62.5%; */
}
.horizontal-scroll{
  width: 80vw;
  
  /* width: 60%; */
  height: 8rem;
  display: flex;
  flex-direction: row;
  overflow-x:auto;
  left: 15%;
  margin-left:auto;
  margin-right:auto;
}
.eachCategory{
    min-width: 12rem;
    height: 5rem;
    border: 3px solid rgb(218, 212, 212);
    border-radius: 8px;
    font-size: 10rem;
}
.eachCategory:hover{
  opacity: 0.5;
}
.eachCategory:hover{
  cursor: pointer;
}
.change ul li:hover{
    cursor: pointer;
}
 @media screen and (max-width:960px) { 
  html{
    font-size: 12px;
  } 
}
@media screen and (max-width:450px) {
  html{
    font-size: 10px;
  } 
} 


